$wrapperWidth: 1200px; /* full screen */

$defaultFontStack: Lato,helvetica,arial,sans-serif;

/* colors */
$headingColor: #fff;
$darkBlueColor: #002e49;
$orangeColor: #eb9436;

$footerBackgroundColor: rgba($darkBlueColor,0.8);
$footerContentColor: #fff;
$footerLinkColor: #fff;
$footerHoverColor: #fff;
$copyrightBackgroundColor: rgba($darkBlueColor,0.9);
$copyrightContentColor: #fff;
$copyrightLinkColor: #fff;
$copyrightHoverColor: #fff;
$copyrightSeparatorColor: #fff;

$pageBackgroundColor: transparent;

@mixin button() {
	color: #fff;
	background-color: rgba($darkBlueColor,0.8);
}

@mixin buttonHover() {
	color: #fff;
	background-color: lighten($darkBlueColor,10);
}