$bodyBackgroundColor: #000 !default;
$bodyContentColor: #000 !default;
$pageBackgroundColor: #fff !default;
$darkBackgroundColor: #000 !default;
$darkBackgroundContentColor: #fff !default;
$sectionSeparatorColor: #000 !default;
$darkSectionSeparatorColor: #fff !default;
$separatorColor: #000 !default;

$wrapperWidth: 1200px !default;
$collapseNavAt: 700px !default;
$pageWrapperWidth: 1920px !default;

/* body */
body { 
	font-family: $defaultFontStack; 
	line-height: 1.4; 
	overflow-x:hidden; 
	background: $bodyBackgroundColor;
	color: $bodyContentColor;
	min-height: 100vh;
}

.page-wrapper { 
	margin: 0 auto; 
	position: relative; 
	width: $pageWrapperWidth;
	background: $pageBackgroundColor;
	max-width: 100%; 
	box-shadow: 0 0 4px rgba(0,0,0,0.2);
	min-height: 100vh;
}

.sw { 
	width: $wrapperWidth; 
	max-width: 95%; 
	margin: 0 auto; 
	position: relative; 
	&.full { max-width: 100%; }
}

.dark-bg { background-color: $darkBackgroundColor; color: $darkBackgroundContentColor;}
.light-bg { color: $bodyContentColor; }

hr { margin: 10px 0; border: 1px solid $separatorColor; }

.body section { 

	padding: 40px 0; 
	&.nopad { 
		padding:0; 
		.grid:last-child { margin-bottom:0; }
	}
		
}