$darkBackgroundHeadingColor: $darkBackgroundContentColor !default;
$headingFontStack: $defaultFontStack !default;
$headingColor: #000 !default;

/* headings */
%top-level-headings { line-height: 1.2; font-weight: normal; margin: 0 0 20px; font-family: $headingFontStack; }
%hgroup-top-level-headings { margin:0; }
%heading-style { display: block; font-family: $headingFontStack; color: $headingColor;; }
@each $element in h1,h2,h3,h4,h5,h6 {
	#{$element} { 
		@extend %top-level-headings; 
		
		&+hr {
			margin: -15px 0 15px;
		}
		
		
		.hgroup & { @extend %hgroup-top-level-headings; }
		
		.dark-bg & { color: $darkBackgroundHeadingColor; }
		
		.article-body p + &,
		.article-body ul + &,
		.article-body ol + & { margin-top: 35px; }
		
	}
	
	#{$element},.#{$element}-style { 
		@extend %heading-style; 
	}
}

.section-title span {
	@extend %heading-style;
	.dark-bg & { color: $darkBackgroundHeadingColor; }
}
.hgroup span { @extend %hgroup-top-level-headings; }
.hgroup { margin: 0 0 20px; }
.hgroup .subtitle { font-size: 18px; }

.h1-style,
h1 { font-size: 42px; font-weight: 300;}
.h2-style,
h2 { font-size: 36px; font-weight: 300;}
.h3-style,
h3 { font-size: 28px; font-weight: 300;}
.h4-style,
h4 { font-size: 26px; font-weight: 500;}
.h5-style,
h5 { font-size: 20px; }
.h6-style,
h6 { font-size: 14px; text-transform: uppercase; font-weight: bold;}