.page-wrapper {
	@include display( flex );
	@include flex-flow( column nowrap );
	@include justify-content( space-between );
	
	width: 100vw;
	max-width: none;
	
	background: url(../images/bg.jpg) center no-repeat;
	background-size: cover; 
	background-attachment: fixed;
}


footer { padding-top:0; margin-top: 60px;}
.copyright { margin-top:0; }

.header-logo {
	display: block;
	width: 15vw;
	margin: 50px auto;
	min-width: 250px;
}

.hero {
	position: relative;
	z-index: 10;
	text-align: center; 
	padding: 30px 0;
	width: 600px;
	max-width: 85%; 
	margin: 0 auto;
	text-shadow: 0 0 6px rgba(0,0,0,0.9); 
}

.circle-button {

	width: 100px; height: 100px;
	background: $orangeColor;
	display:block;
	border-radius: 50%;
	font-size: 32px;
	text-align: center;
	line-height: 100px;
	
	&:before {  color: #fff; line-height: 1;}
	
	&.sm {
		font-size: 16px;
		width: 40px; height: 40px;
		line-height: 40px;
		display: inline-block;
		vertical-align: middle;
		margin-right: 8px;
	}

}

.footer-blocks {
	font-size: 22px;
	@include display( flex );
}

.footer-block {
	@include display( flex );
	@include align-items( center );
	@include justify-content( center );
	@include flex( 1 3 auto );
	@include flex-basis( 35% );
	text-align: center;
	
	.main-footer-block + & { @include order( -1 ); }
	
}

.main-footer-block {
	@include flex-flow( column );
	@include flex( 1 1 350px );
	
	position: relative;
	z-index: 2;
	padding: 0 10px;
	top: -20px;
	
	.hgroup { margin:0; }
	
	.circle-button { margin: 15px auto 0; }
	
	&:before {
		z-index: -1;
		content:"";
		position: absolute; 
		top:-20px; left:0; right:0; bottom:-40px;
		@include linear-gradient(to bottom, #1d5e8b, #184c71);
		box-shadow: 0 0 5px rgba(0,0,0,0.4); 
		border-bottom-left-radius: 200px 20px;
		border-bottom-right-radius: 200px 20px;
	}
	
	&:after {
		content:"";
		position: absolute;
		z-index: -2;
		top:-19px; left:-56px;
		width:0; height:0;
		border: 28px solid transparent;
		border-top-color: #18527a;
		@include transform-origin( top right );
		@include transform( rotateZ(-45deg) );
	}
}

@media screen and (max-width: 950px) {
	.footer-blocks { @include flex-wrap( wrap ); }
	.footer-block { margin-bottom: 40px; min-width: 250px; }
	.main-footer-block {
		@include flex( 1 1 100% );
		& + .footer-block { order: inherit; }
		
	}
}